@charset "UTF-8";

    
/*헤더*/
header {
  position: static;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: whitesmoke;
  opacity: 0.9;
}

.logo {
  background-color: whitesmoke;
  height: 65px;
  width: 170px;
  border: none;
}

.headB ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 20px;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  height: 50%;
  width: 66.67%;
  overflow: hidden;
  align-items: center;
}

.menu li {
  height: 100%;
  flex: 1;
  background-color: whitesmoke;
  border-radius: 15px;
}
.headB {
  display: flex;
  flex-direction: row;
  width: 70%;
  align-items: center;
}

.headB a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: inherit;
  font-size: 1.5em;
  text-decoration: none;
}

.headB a:hover {
  background-color: #D30000;
  border-radius: 15px; 
  color: white;
}
.headB .wall:hover {
  background-color: whitesmoke;
}


.ball {
  background-color: whitesmoke;
  width: 50px;
  height: 50px;
  justify-content: center;
  border: none;
}
.search {
  background-color: whitesmoke;
  width: 50px;
  height: 50px;
  border: none;
}

.container{
  display: flex
}

.loginbar {
  display: flex;
  flex-direction: row;
  list-style: none; 
  padding: 0;
  height: 90px;
  width: 30%; 
  justify-content: flex-end;
  align-items: flex-end; 
}
.loginbar li {
  font-size: 1em;
  margin-right: 100px;
  text-align: center; /* 글자 정렬 */
}

.redbox {
  background-color: red;
  height: 10px;
  width: 1920px;
}
.blackbox {
  background-color: whitesmoke;
  height: 10px;
  width: 100%;
}
a:visited{
  color:black
}
a {
  color:black;
  text-decoration: none;
}
/* sacA */
.sacA {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-bottom: 15px;
  padding-top: 15px;
  border-radius: 10px;;
}

.conA{
  background-color:whitesmoke;
  border-radius: 20px;
}

.sacA img{
width: 500px;
height: 300px;
}
.sacA input{
width:400px;
height:50px;
margin-bottom: 5PX;
margin-left: 50PX;
border-radius: 10px;
border:white;
text-align: center;
  }
  .sacA button{
    width:400px;
height:50px;
margin-left: 52.5PX;
border-radius: 10px;
border:rgb(230,54,62);;
background-color: rgb(230,54,62);
color:white;
margin-bottom: 10px;
  }
  .sacA p{
    margin-left: 160PX;

  }

    /*푸터*/
footer {
  background-color: white; 
  padding-top: 20px; 
  color: #fff;
}

footer .container {
  padding :10px;
  background-color: rgb(230,54,62);
}
footer h2{
  padding-left: 100px;
}
.container .footerbar {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-grow: 1;
  padding-right: 100px;
  }
.footerbar span{
  margin-left: 15px;
}
footer .footer2container {
  display: flex;
  padding: 10px 10px 10px 100px;
  background-color: rgb(191,25,50);
}
.footer2container h5{
  font: size 5px; ;
  color: white;
}
.footerbar2{
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-grow: 1;
  padding-right: 100px;
}
.footerbar2 span{
margin-left: 15px;
}

.footerbar2 img{
  width:50px;
  height: 50px;
  border: none;
  border-radius: 10px;
}
.footerbar a {
  color: inherit;
  text-decoration: inherit;
}
.footer2container img{
  background-color:rgb(191,25,50);
}
